@media screen and (max-width: 770px) {
    .navigation .head {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .navigation .button{
        display: block
    }
    .website{
        display: none;
    }
    .mobile{
        width: 100%;
        height: 90%;
        border-radius: 10px;
    }
    .mobile .left{
        height: 40%;
    }
    .mobile .right{
        width: 100%;
        height: 60%;
    }
    .mobile .right .form{
        height: 90%;
    width: 85%;
    }
    .mobile .right .form .small{
        width: 100%;
    }
    .container {
        width: 85%;
        height: 100vh;
        display: flex;
        margin: auto;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .burger .line1{
    width: 30px;
    height: 5px;
    margin: 4px;
    background-color: white;
    }
    .navigation .button {
        display: block;
        position: absolute;
        left: 25px;
        top: 60px;
        width: 100px;
        height: 56px;
    }

    .navigation .btn-log {
        background-color: #222e2e;
        color: white;
        padding: 11px 22px;
        border: 2px solid;
        border-radius: 7px;
        cursor: pointer;
        position: relative;
        left: 0;    }

    .navigation .btn-log a{
        font-size: 15px;

        }
    .opacity{
        opacity: 0;
    }

}